body {
  background: rgb(18, 18, 18);
  color: #eee;
  font-size: 14px;
}

// rgb(255, 207, 0) // nordnet yellow
// rgb(0, 145, 149) // nordnet blue
// rgb(115, 191, 105) // grafana green
// rgb(242, 73, 92) // grafana red

$box-margin: 10px;

.row {
  display: flex;
  // min-width: 360px;
}

.row + .row {
  margin-top: 0 * $box-margin;
}

.box {
  background: rgb(33, 33, 33);
  margin: $box-margin;
  border-radius: 8px;
  padding: $box-margin;
}

.width1 {
  min-height: 13vw;
  flex: 1 1 0;
}

.width3 {
  height: 44vw;
  flex: 3;
}

.big-number {
  width: 100%;
  display: block;
  font-size: 10vw;
  text-align: center;
}

.mainview {
  min-width: 360px;
}

.power-control-box {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;

    .button {
      flex: 1;
      text-align: center;
    }
    svg {
      width: 40px;
      .background {
        fill: hsl(20deg, 73%, 57%);
      }

      .icon {
        fill: #333;
      }
    }
  }
}

.power-digit {
  flex: 1;
  min-width: 6.4vw;

  .digit {
    text-align: center;
    font-size: 10vw;
    user-select: none;
    margin-top: -0.8vw;
  }
}

@media (max-width: 600px) {
  .mainview > .row {
    flex-direction: column;
    min-height: 700px;
  }

  .power-digit {
    .digit {
      font-size: 20vw;
      margin-top: -1vw;
    }
  }

  .power-control-box {
    .row {
      svg {
        width: 50px;
      }
    }
  }

  .big-number {
    font-size: 20vw;
  }  
}
